<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Мій профіль</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
  <h1>Мій профіль</h1>
</div>
<div class="container mt-5">
  <h4>Ваші кошики:</h4>
  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/mybaskets/add">Створити новий кошик</a>
  <div th:each="el : ${baskets}" class="alert alert-info mt-2">
    <h3 th:text="${el.basketName}"/>
    <p th:text="${el.description}"/>
    <p th:text="${el.creator}"/>
    <a th:href="'/mybaskets/' + ${el.id}" class="btn btn-warning">Детальніше</a>
  </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>