<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div align="center" class="container">

            <p class="mb-1">Усі права НЕ захищені!!! Розробник цього сервісу - Віталій Миронець - створив його власноруч.</p>
            <p class="mb-1">Він не юрист, тож він і гадки не має як ці права тут можна захистити.</p>
            <p class="mb-1">Не знайомі з ним? <a href="https://www.linkedin.com/in/vitalii-myronets-431a36167/"> - Ось його лінкедін,  </a><a href="https://www.facebook.com/profile.php?id=100017283902355">та фейсбук</a>.</p>
            <p class="mb-1">Можна також <a href="mailto:mironetsvitaly@gmail.com">написати </a>йому на пошту.</p><br><br>
            <a href="#top">В початок...</a>
        </div>
    </footer>
</div>